<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /socials-control-multi/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /socials-control-multi/index.html [L]
</IfModule>
